@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 30px;
}

#score {
    font-size: 14px;
}

div#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

canvas#gameCanvas {
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;

    margin: 5%;
}
